
<section class="products">
    <div class="row">
        <div class="col-sm-12">
            <div id="success" class="alert alert-success {{# if noMessage}}hidden-xs-up{{/if}}">
                {{ successMsg }}
            </div>
        </div>
    </div>
    <div class="row">
        {{# each products }}
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-img-bg" style="background-image: url({{ this.imagePath }})"></div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="card-title">{{ this.title }}</h6>
                            </div>
                            <div class="col-md-4">
                                <h6 class="card-title text-md-right text-muted">${{ this.price }}</h6>
                            </div>
                        </div>
                        <p class="card-text text-muted small">{{ this.description }}</p>
                    </div>
                </div>
                <a href="/add-to-cart/{{this._id}}" class="btn btn-block btn-primary">Add to Cart</a>
            </div>
        {{/each}}
    </div>
</section>